body {
  padding: 8px 18px 18px 18px;
  overflow: hidden;
  background-color: white;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0;
}

.line {
  width: 100%;
  height: 1px;
  margin-top: 7px;
  background: #e9e9e9;
}

.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  justify-content: space-evenly;
}

.timer {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 66px;
  font-weight: 700;
}

.wrapper {
  display: flex;
  justify-content: center;
}

button {
  width: 105px;
  height: 35px;
  margin-right: 9px;
  background: #f6f6f6;
  border: 3px solid #e9e9e9;
  border-radius: 10px;
  color: #6d6d6d;
  font-weight: 600;
  font-size: 1rem;
  line-height: 13px;
}

.hide {
  display: none;
}

input {
  all: unset;
  width: 30%;
}

input.right {
  text-align: right;
}

.setting {
  cursor: pointer;
}

button {
  cursor: pointer;
}

@media (max-width: 200px) {
  html,
  body {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }

  .title {
    display: none;
  }

  .line {
    display: none;
  }

  .content .wrapper {
    display: none;
  }

  .content {
    padding: 0;
    margin: 0;
  }

  .timer {
    font-size: 30px;
    margin-top: 45px;
  }
}
